* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  
  --family: 'Nunito Sans', sans-serif;

  --fs-sm: 14px;
  --fs-md: 16px;

  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;

  --radii: 0.5rem;
  --shadow: rgba(149, 157, 165, 0.8) 0px 8px 24px;
  --gray: rgb(93, 93, 93);
  --green: #00d7be;
  --bc: #ffffff;
}

body {
  background-color: var(--bc);
  font-family: var(--family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: var(--shadow);
  /* position: relative; */
}

.main-wrapper {
  position: relative;
  background: #e3e3e3;
  display: flex;
  /* max-width: 1200px;
  margin: 0 auto; */
}

/* #region header */
.header {
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  padding: 64px 120px;
}

/* #endregion */
/* #region menu */
.menu {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform: translateY(-100%);
  transition: transform 500ms;

  box-sizing: border-box;

  padding: 64px 120px;
  background: #6294a5;
}

.menu:target {
  transform: translateY(-0%);
}

.menu__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.menu__icon {
  position: fixed;
  right: 50px;
  z-index: 111;
}
.menu__icon:hover {
  transform: rotate(180deg);
  transition: transform 500ms;
}
/* #endregion */
/* #region nav */
.nav {
  display: flex;
  gap: 20px;
}

.nav__link {
  color: #292929;
  text-decoration: none;
  font-weight: bold;
  /* font-size: 22px;
  line-height: 22px; */
  text-transform: uppercase;
  /* letter-spacing: 2px; */
}
/* #endregion */


/* #region aside */

.container {
  margin: 55px 40px 0 40px;
}

.sidebar {
  background: #006666;
  min-width: 370px;
  padding: 40px 0 40px 0;
}

.photo-container {
  display: flex;
  justify-content: center;
}

.my-photo {
  border-radius: 50%;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.contact-list li a:hover, .contact-list li a:focus{
  color: var(--green);
  fill:var(--green);
}

.contact-list{
  padding-left: 15px;
  list-style-type: none;
  padding: 0;
}

.title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: var(--green);
  margin-bottom: 20px;
}

.skills-list li {
  margin-left: 15px;
  color: var(--green);
}

.skills-list li span, .year {
  color: #e2e4e6;
}

.about-me-container {
  padding: 110px 90px;
}

.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.contacts-link svg{
  fill: white;
  margin-right: 10px;
}

.contact-list{
  padding-left: 15px;
  list-style-type: none;
  padding: 0;
}

.about-me-container {
  padding: 110px 90px;
}

/* #endregion */

/* #region main */

.main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section {
  margin: 40px 0;
}

.section-container{
  margin: 40px;
}

.name {
  margin-bottom: 1em;
}

.mine-title {
  padding: 10px 40px;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  margin-bottom: 20px;
  background-color: #006666;
}

.projects-link {
  text-decoration: none;
  color: var(--gray);
}

.project-experience-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.project-experience-list-item {
  text-align: center;
  border-radius: var(--radii);
  background-color: var(--bc);
  box-shadow: var(--shadow);
  cursor: pointer;
  overflow: hidden;
  transition: transform 700ms;
}

.project-experience-list-item:hover {
  transform: scale(1.07, 1.07);
  transition: transform 700ms;
}

.img-project {
  display: block;
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: top;
}

.project-body {
  padding: 1rem 1.5rem 2rem;
}

.project-title {
  margin: 0;
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
}

.project-list {
  list-style: none;
  margin: 0;
  padding: 1rem 0 0;
}

b.description-title {
  font-weight: var(--fw-bold);
}

p.project-description {
  font-weight: var(--fw-normal);
  color: var(--gray);
}

.project-example-container{
  position: relative;
}

.project-text{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35%;
  background-color: rgba(30, 41, 57, 0.95);
}

.kata-link {
  text-decoration: none;
  color: black;
  background-color: var(--green);
  padding: 5px 30px;
  border-radius: var(--radii);
  transition: transform 700ms;
}

.kata-link:hover {
  box-shadow: var(--shadow);
  transform: scale(1.07, 1.07);
  transition: transform 700ms;
  color: white;
}

.code {
  padding: 20px 0 0 0;
}

.profession-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;

  margin: 8px 0 15px 0;
}

.profession-company {
  color: var(--gray);
}

.profession-time {
  color: var(--gray);
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 15px;
}

.divider {
  color: black;
}

.additional-education-details-container {
  margin-bottom: 15px;
}

.education {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin: 55px 0 20px 0;
}

.education-place, .specialization {
  margin-bottom: 15px;
}

/* #endregion */

/*Footer*/
footer {
  padding-left: 55px;
  padding-right: 55px;
  background: #505555;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.github-logo{
  fill:rgb(216, 216, 216);
}

.github-link:hover svg, .github-link:focus svg{
  color: var(--green);
}